// All styles rules, including those in the component
// are all defined in this single SCSS file.
// Class naming are appliable to the whole project
// including sub-components in the `component` folder.

/********************************
Headers. Imports
********************************/

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import "~@blueprintjs/core/lib/css/blueprint.css";

/********************************
Variables definition
********************************/

$font-family: 'Source Serif Pro', serif;

$color-black: #303030;
$color-white: #F0F0F0;
$color-primary-light: #706750;
$color-primary-dark: #ca6750;
$color-secondary-light: #38634F;
$color-secondary-dark: #193D30;

$light-background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjUxIiBoZWlnaHQ9IjUxIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMzUpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSgyNDAsIDI0MCwgMjQwLDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9InJnYmEoNTYsIDk5LCA3OSwxKSIgZD0iTS0wLjUgMjAgaDEgdjEgaC0xIHpNMzkuNSAyMCBoMSB2MSBoLTEgeiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNlY2M5NGIiIGQ9Ik0xOS43NSAyMCBoMC41IHYxIGgtMC41IHpNNTkuNzUgMjAgaDAuNSB2MSBoLTAuNSB6Ij48L3BhdGg+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+");
$dark-background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjUxIiBoZWlnaHQ9IjUxIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMzUpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSg0OCwgNDgsIDQ4LDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9InJnYmEoMjAyLCAxMDMsIDgwLDEpIiBkPSJNLTAuNSAyMCBoMSB2MSBoLTEgek0zOS41IDIwIGgxIHYxIGgtMSB6Ij48L3BhdGg+PHBhdGggZmlsbD0icmdiYSgyNSwgNjEsIDQ4LDEpIiBkPSJNMTkuNzUgMjAgaDAuNSB2MSBoLTAuNSB6TTU5Ljc1IDIwIGgwLjUgdjEgaC0wLjUgeiI+PC9wYXRoPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==");

$background: $light-background;
$color-text: $color-black;
$color-background: $color-white;
$color-primary: $color-primary-light;
$color-secondary: $color-secondary-light;

$max-width: 960px;
$margin: 4px;

/********************************
Global definition
********************************/

body {
  padding: $margin * 2;
  font-family: $font-family;
  background-image: $background;
  background-repeat: repeat;
  max-width: $max-width;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: $color-text;
}

a {
  cursor: pointer;
}

/********************************
Nav NavItem component definitions
********************************/

.nav-title {
  text-align: center;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.nav-item {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.nav-item:hover {
  color: $color-primary;
  background-color: $color-background;
}

/********************************
Footer component definitions
********************************/

.footer-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.footer-icon {
  margin-left: $margin * 2;
  margin-right: $margin * 2;
}

/********************************
Project Page component definitions
********************************/

.project-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.project-card {
  box-shadow: 2px 2px 5px $color-text;
  background-color: $color-white;
  padding: $margin * 2;
  margin: $margin * 2;
  width: 90%;
}

.project-card-tag {
  margin: $margin / 2;
  padding: $margin;
  font-size: 0.8rem;
  color: $color-text;
  border: 1px solid $color-text;
  border-radius: 28px;
}

.project-card-tag-primary {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-background;
}

.project-card-tag-secondary {
  border-color: $color-secondary;
  background-color: $color-secondary;
  color: $color-background;
}

.project-card-tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-card-button {
  margin: $margin;
  float: right;
}

.project-card-link {
  margin: $margin;
}
